/* 1. CONFIGURACIÓN Y VARIABLES */
:root {
  /* Paleta de Colores */
  --bg-color: #fffbf0;
  --text-primary: #151515;
  --border-color: #151515;

  /* Acentos */
  --accent-yellow: #ffeb3b;
  --accent-pink: #ff9ff3;
  --accent-blue: #00d2d3;
  --accent-orange: #ff9f43;

  /* Tipografía */
  --font-display: "Syne", sans-serif;
  --font-body: "Space Grotesk", sans-serif;

  /* Sistema de Espaciado y Bordes */
  --border-width: 3px;
  --shadow-hard: 6px 6px 0px 0px var(--border-color);
  --shadow-hover: 10px 10px 0px 0px var(--border-color);
  --radius-small: 8px;

  --nav-height: 120px;
  --nav-height-mobile: 130px; /* Altura estimada header móvil (2 filas) */
}

/* ESTRUCTURA GLOBAL DE SECCIONES */
section {
  position: relative;
  width: 100%;

  /* 1. Altura Base Desktop */
  min-height: calc(100vh - var(--nav-height));

  /* 2. Scroll Offset para que el header no tape el titulos */
  scroll-margin-top: var(--nav-height); /* Desktop */

  /* 3. Modern Mobile Viewport (Estabilidad al recargar) */
  min-height: calc(100svh - var(--nav-height));
}

@media (max-width: 1000px) {
  section {
    /* Ajuste Movil: Altura header diferente */
    min-height: calc(100svh - var(--nav-height-mobile));
    scroll-margin-top: var(--nav-height-mobile);
  }
}

/* 2. RESET Y BASES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selección personalizada */
::selection {
  background-color: var(--text-primary);
  color: var(--accent-yellow);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
